<h2>I am new</h2>
<span>Sign up with your eamil and password</span>
<form
  (ngSubmit)="onClickRegister(username,password,fName,lName,email)"
  #signInForm="ngForm"
>
  <div class="group">
    <label for="firstname">First Name</label>
    <input
      type="firstname"
      class="form-input"
      id="firstname"
      required
      name="firstname"
      [(ngModel)]="fName"
    />
  </div>
  <div class="group">
    <label for="lastname">Last Name</label>
    <input
      type="lastname"
      class="form-input"
      id="lastname"
      required
      name="lastname"
      [(ngModel)]="lName"
    />
  </div>
  <div class="group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-input"
      id="email"
      required
      name="email"
      [(ngModel)]="email"
    />
  </div>
  <div class="group">
    <label for="username">username</label>
    <input
      type="username"
      class="form-input"
      id="username"
      required
      name="username"
      [(ngModel)]="username"
    />
  </div>
  <div class="group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-input"
      id="password"
      required
      name="password"
      [(ngModel)]="password"
    />
  </div>
  <!-- <div class="group">
    <label for="comfirmPassword">Confirm Password</label>
    <input
      type="password"
      class="form-input"
      id="comfirmPassword"
      required
      name="comfirmPassword"
      [(ngModel)]="confirmPassword"
    />
  </div> -->

  <button
    class="custom-button"
    type="submit"
    [disabled]="!signInForm.form.valid"
  >
    Sign Up
  </button>
</form>